
<link rel="stylesheet" href="../../style/common.css"/>
<link rel="stylesheet" href="../../style/basketball.css"/>

<div id="header" class="liveh">
    <div class="wrap">
        <a class="back" href="index.html"></a>
        <span class="title">{{'Basketball_TITLE' | translate}}</span>
        <dl class="head_r" id="sort">
            <dd ng-show="showFilterIcon"><i class="scr_icon" onclick="return false;" ng-click="filterSetWindowClick($event)"></i></dd>
            <dd><i class="set_icon" onclick="return false;" ng-click="filterSetWindowClick($event)"></i></dd>
        </dl>
    </div>
    <div class="tabs" id="tabs">
        <a href="#" class="active">{{'TABS_IMMEDIATE' | translate}}</a>
        <a href="#">{{'TABS_RESULTS' | translate}}</a>
        <a href="#">{{'TABS_SCHEDULE' | translate}}</a>
        <a href="#">{{'TABS_ATTENTION' | translate}}<font class="J-shoping" ng-class="{true: 'J-shoping-op', false: ''}[baAttentionMatchCount==0]" ><span class="baseBg J-shoping-num">{{baAttentionMatchCount}}</span></font></a>
    </div>
    <div class="clear"></div>
</div>

<div class="loading" ng-show="loadingImg"><img ng-src="images/loading.gif" /></div>
<div class="coll_most" ng-show="maxAttentionMatchesCountWarn">
    <h2>{{'ATTENTION_SORRY' | translate}}</h2>
    <p translate="ATTENTION_SORRY_TEXT" translate-values="{'maxAttentionMatchCount': '<em>{{maxAttentionMatchCount}}</em>'}"></p>
    <p><button ng-click="attentionWarnCloseClick($event)">{{'BUTTON_CLOSE' | translate}}</button></p>
</div>

<div id="tabs-container" class="swiper-container">
    <div class="swiper-wrapper mar_t">
        <!--即时比分-->
        <div class="swiper-slide">
            <div class="live_bd content-slide" id="live_bd1">
                <div class="white_bg" infinite-scroll-distance="0.6" >
                    <div ng-repeat="findLiveMatch in findLiveMatches track by $index"><!-- track by $index -->
                        <div ng-switch = "findLiveMatch.dataType">
                            <!-- 日期条 -->
                            <!-- style="position:fixed;z-index:2343;top:100px;" -->
                            <div ng-switch-when = "0" class="toolbar" ng-click="dayTimeClick($event)" data-day="{{findLiveMatch.today}}" data-text="{{findLiveMatch.dayText}}">
                                <div class="t_date">
                                    <i class="icon_basket"></i>
                                    <span class="day"><span ng-bind="findLiveMatch.day"></span> <label ng-bind="findLiveMatch.week"></label></span>
                                    <label class="today" ng-if="findLiveMatch.today">{{'TODAY'|translate}}</label>
                                    <label class="today" ng-if="findLiveMatch.tomorrow">{{'TOMORROW'|translate}}</label>
                                    <label class="today" ng-if="findLiveMatch.yesterday">{{'YESTERDAY'|translate}}</label>
                                </div>
                                <i class="icon_up " ng-class="{true: '', false: 'icon_down'}[findLiveMatch.showIconDate]"></i>
                            </div>
                            <!-- 内容 -->
                            <div ng-switch-when = "1" thirdId="{{findLiveMatch.thirdId}}" class="live_box" ng-show="{{findLiveMatch.dayText}}">
                                <i class="icon_coll" ng-class="{true: 'icon_slt', false: ''}[findLiveMatch.attented]" ng-click="addToAttention($event)" thirdid="{{findLiveMatch.thirdId}}"isClicked="{{findLiveMatch.attented}}"></i>
                                <div class="live_list">
                                    <dl class="top_dl">
                                        <dd class="wid_60 align_l m_top">
                                            <font style="color:{{findLiveMatch.leagueColor}}" class="t_name" leagueId="{{findLiveMatch.leagueId}}" ng-bind="findLiveMatch.leagueName"></font>
                                            <span class="t_time" ng-bind="findLiveMatch.time"></span>
                                    <span class="t_r_time" ng-if="!findLiveMatch.finish">
                                    <span ng-bind="findLiveMatch.matchStateInfo"></span>
                                    <span ng-if="findLiveMatch.matchStatus!='50'" ng-bind="findLiveMatch.remainTime"></span>
                                    <em class="secs_g" ng-if="findLiveMatch.matchStatus!='50'&&findLiveMatch.remainTime"></em></span>
                                        </dd>
                                        <dd class="wid_40 align_r m_top" ng-if="findLiveMatch.matchState!=null">
                                    <span ng-if="medalScore">
                                        {{'BA_TOTAL'|translate}}:<span ng-bind="findLiveMatch.totalScore">0</span>
                                    </span>
                                    <span ng-if="totalScore">
                                        {{'BA_SPREAD'|translate}}:<span ng-bind="findLiveMatch.poor">0</span>
                                    </span>

                                        </dd>
                                    </dl>
                                    <br class="clear">
                                    <dl class="btm_dl">
                                        <!-- 赔率信息 -->
                                  <span class="vs_sf" ng-if="findLiveMatch.matchOdds&&oddsFilterCookieValue!=0">
                                      <span ng-if="findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == true">{{'ODDS_SEAL' | translate}}</span>
                                      <span ng-if="findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == null
                                                  || findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == false"><label ng-if="findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds" ng-bind="findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds">2.05</label><em class="line" ng-if='findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds'>|</em><label ng-bind="findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.mediumOdds">胜负</label><em class="line" ng-if='findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds'>|</em><label ng-if="findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds" ng-bind="findLiveMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds">1.8</label>
                                      </span>
                                  </span>
                                        <!-- 其他内容 -->
                                        <dd class="wid_40 align_l m_midd">
                                            <div class="team_box">
                                                <div class="team_pic">
                                                    <img ng-src="{{findLiveMatch.guestteamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index<=viewNum">
                                                    <img src="@@IMGURL/ba_teamLogo.png" data-echo="{{findLiveMatch.guestteamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index>viewNum">
                                                </div>
                                                <span class="team_name" ng-bind="findLiveMatch.guestTeam"></span>
                                                <small class="team_area" ng-if="findLiveMatch.guestRanking!=''&&hostRanking">[<span ng-bind="findLiveMatch.guestRanking"></span>]</small>
                                            </div>
                                        </dd>
                                        <dd class="wid_20 align_c m_midd">
                                            <div class="vs_box" ng-if="findLiveMatch.matchState" ng-class="{true:'v_red',false:''}[findLiveMatch.finish]">
                                                <div class="vs_score">
                                                    <!-- ng-bind="findLiveMatch.fullScore" -->
                                           <span class="vs_b" data-text="{{findLiveMatch.thirdId}}">
                                                <span class="flip v_l"><label data-text='vf' class="v_front" ng-bind="findLiveMatch.lFullScore">130</label><label data-text='vb' class="v_back" ng-bind="findLiveMatch.lBackScore">135</label></span><em class="sign">:</em><span class="flip v_r"><label data-text='vf' class="v_front" ng-bind="findLiveMatch.rFullScore">140</label><label data-text='vb' class="v_back" ng-bind="findLiveMatch.rBackScore">145</label></span>
                                           </span>
                                                    <small class="vs_s" ng-if="singleQuarter&&!findLiveMatch.finish&&!findLiveMatch.middFinish">（<span ng-bind="findLiveMatch.halfScore">0:0</span>）</small>
                                                </div>

                                            </div>
                                            <div class="vs_box v_black" ng-if="findLiveMatch.matchState==null">
                                                <div class="vs_score">
                                                    <span class="vs_b">VS</span>
                                                </div>
                                            </div>
                                        </dd>
                                        <dd class="wid_40 align_r m_midd">
                                            <div class="team_box team_r fr">
                                                <div class="team_pic">
                                                    <img ng-src="{{findLiveMatch.hometeamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index<=viewNum">
                                                    <img src="@@IMGURL/ba_teamLogo.png" data-echo="{{findLiveMatch.hometeamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index>viewNum">
                                                </div>
                                                <span class="team_name" ng-bind="findLiveMatch.homeTeam"></span>
                                                <small class="team_area" ng-if="findLiveMatch.homeRanking!=''&&hostRanking">[<span ng-bind="findLiveMatch.homeRanking"></span>]</small>
                                            </div>
                                        </dd>
                                    </dl>
                                    <br class="clear">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="not_body" ng-if="noFindLiveMatches">
                        <div class="man"></div>
                        <span ng-bind="'NO_IMMEDIATE_MATCHES' | translate"></span>
                    </div>
                    <div class="not_body" ng-if="noInitFindLiveMatches">
                        <div class="man"></div>
                        <span ng-bind="'NO_INIT_IMMEDIATE_MATCHES' | translate"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--即时比分end-->
        <!--赛果end-->
        <div class="swiper-slide">
            <div class="live_bd content-slide" id="live_bd2">
                <div class="white_bg" infinite-scroll-distance="0.6">
                    <!-- 日期条 -->
                    <div ng-repeat="dateMatch in resultDateBak">
                        <div class="toolbar" ng-if="dateMatch.showData" ng-click="dayTimeClick($event,dateMatch.day)" data-day="{{dateMatch.today}}" data-text="{{dateMatch.dayText}}">
                            <div class="t_date">
                                <i class="icon_basket"></i>
                                <span class="day"><span ng-bind="dateMatch.day"></span> <label ng-bind="dateMatch.week"></label></span>
                                <label class="today" ng-if="dateMatch.today">{{'TODAY'|translate}}</label>
                                <label class="today" ng-if="dateMatch.tomorrow">{{'TOMORROW'|translate}}</label>
                                <label class="today" ng-if="dateMatch.yesterday">{{'YESTERDAY'|translate}}</label>
                            </div>
                            <i class="icon_up " ng-class="{true: '', false: 'icon_down'}[dateMatch.showIconDate]"></i>
                        </div>
                        <!-- 内容 -->
                        <div ng-repeat="resultMatch in resultFirObjBak[dateMatch.day]">
                            <div thirdId="{{resultMatch.thirdId}}" class="live_box" ng-show="{{resultMatch.dayText}}">
                                <i class="icon_coll" ng-class="{true: 'icon_slt', false: ''}[resultMatch.attented]" ng-click="addToAttention($event)" thirdid="{{resultMatch.thirdId}}" isClicked="{{resultMatch.attented}}"></i>
                                <div class="live_list">
                                    <dl class="top_dl">
                                        <dd class="wid_60 align_l m_top">
                                            <font style="color:{{resultMatch.leagueColor}}" class="t_name" leagueId="{{resultMatch.leagueId}}" ng-bind="resultMatch.leagueName"></font>
                                            <span class="t_time" ng-bind="resultMatch.time"></span>
                                        </dd>
                                        <dd class="wid_40 align_r m_top">
                                    <span ng-if="medalScore">
                                        {{'BA_TOTAL'|translate}}:<span ng-bind="resultMatch.totalScore">0</span>
                                    </span>
                                    <span ng-if="totalScore">
                                        {{'BA_SPREAD'|translate}}:<span ng-bind="resultMatch.poor">0</span>
                                    </span>
                                        </dd>
                                    </dl>
                                    <br class="clear">
                                    <dl class="btm_dl">
                                        <!-- 赔率信息 -->
                                  <span class="vs_sf" ng-if="resultMatch.matchOdds&&oddsFilterCookieValue!=0">
                                      <span ng-if="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == true">{{'ODDS_SEAL' | translate}}</span>
                                      <span ng-if="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == null
                                                  || resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == false"><label ng-if="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds != null" ng-bind="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds">2.05</label><em class="line" ng-if="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds != null">|</em><label ng-bind="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.mediumOdds">胜负</label><em class="line" ng-if="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds != null">|</em><label ng-if="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds != null" ng-bind="resultMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds">1.8</label>
                                      </span>
                                 </span>
                                        <!-- 其他内容 -->
                                        <dd class="wid_40 align_l m_midd">
                                            <div class="team_box">
                                                <div class="team_pic">
                                                    <img ng-src="{{resultMatch.guestteamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index<=viewNum">
                                                    <img src="@@IMGURL/ba_teamLogo.png" data-echo="{{resultMatch.guestteamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index>viewNum">
                                                </div>
                                                <span class="team_name" ng-bind="resultMatch.guestTeam"></span>
                                                <small class="team_area" ng-if="resultMatch.guestRanking!=''&&hostRanking">[<span ng-bind="resultMatch.guestRanking"></span>]</small>
                                            </div>
                                        </dd>
                                        <dd class="wid_20 align_c m_midd">
                                            <div class="vs_box v_red">
                                                <div class="vs_score">
                                                    <!-- <span class="vs_b" ng-bind="resultMatch.fullScore">0:0</span> -->
                                           <span class="vs_b">
                                                <span class="flip v_l"><label data-text='vf' class="v_front" ng-bind="resultMatch.lFullScore">130</label></span><em class="sign">:</em><span class="flip v_r"><label data-text='vf' class="v_front" ng-bind="resultMatch.rFullScore">140</label></span>
                                           </span>
                                                    <small class="vs_s" ng-if="singleQuarter&&!resultMatch.finish">（<span ng-bind="resultMatch.halfScore">0:0</span>）</small>
                                                </div>
                                            </div>
                                        </dd>
                                        <dd class="wid_40 align_r m_midd">
                                            <div class="team_box fr team_r">
                                                <div class="team_pic">
                                                    <img ng-src="{{resultMatch.hometeamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index<=viewNum">
                                                    <img src="@@IMGURL/ba_teamLogo.png" data-echo="{{resultMatch.hometeamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index>viewNum">
                                                </div>
                                                <span class="team_name" ng-bind="resultMatch.homeTeam"></span>
                                                <small class="team_area" ng-if="resultMatch.homeRanking!=''&&hostRanking">[<span ng-bind="resultMatch.homeRanking"></span>]</small>
                                            </div>
                                        </dd>
                                    </dl>
                                    <br class="clear">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="not_body" ng-if="noResultMatches">
                        <div class="man"></div>
                        <span ng-bind="'NO_IMMEDIATE_MATCHES' | translate"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--赛果end-->
        <!--赛程start-->
        <div class="swiper-slide">
            <div class="live_bd content-slide" id="live_bd3">
                <div class="white_bg" infinite-scroll-distance="0.6">
                    <div ng-repeat="dateMatch in scheduleDateBak">
                        <!-- 日期条 -->
                        <div class="toolbar" ng-if="dateMatch.showData" ng-click="dayTimeClick($event,dateMatch.day)" data-day="{{dateMatch.today}}" data-text="{{dateMatch.dayText}}">
                            <div class="t_date">
                                <i class="icon_basket"></i>
                                <span class="day"><span ng-bind="dateMatch.day"></span> <label ng-bind="dateMatch.week"></label></span><!-- TOMORROW -->
                                <label class="today" ng-if="dateMatch.today">{{'TODAY'|translate}}</label>
                                <label class="today" ng-if="dateMatch.tomorrow">{{'TOMORROW'|translate}}</label>
                                <label class="today" ng-if="dateMatch.yesterday">{{'YESTERDAY'|translate}}</label>
                            </div>
                            <i class="icon_up " ng-class="{true: '', false: 'icon_down'}[dateMatch.showIconDate]"></i>
                        </div>
                        <!-- 内容 -->
                        <div ng-repeat="scheduleMatch in scheduleFirObjBak[dateMatch.day]">
                            <div thirdId="{{scheduleMatch.thirdId}}" class="live_box" ng-show="{{scheduleMatch.dayText}}">
                                <i class="icon_coll" ng-class="{true: 'icon_slt', false: ''}[scheduleMatch.attented]" ng-click="addToAttention($event)" thirdid="{{scheduleMatch.thirdId}}" isClicked="{{scheduleMatch.attented}}"></i>
                                <div class="live_list">
                                    <dl class="top_dl">
                                        <dd class="wid_60 align_l m_top">
                                            <font style="color:{{scheduleMatch.leagueColor}}" class="t_name" leagueId="{{scheduleMatch.leagueId}}" ng-bind="scheduleMatch.leagueName"></font>
                                            <span class="t_time" ng-bind="scheduleMatch.time"></span>
                                        </dd>
                                        <dd class="wid_40 align_r m_top">
                                            <!-- <span ng-if="medalScore">
                                                {{'BA_TOTAL'|translate}}:<span ng-bind="scheduleMatch.totalScore">0</span>
                                            </span>
                                            <span ng-if="totalScore">
                                                {{'BA_SPREAD'|translate}}:<span ng-bind="scheduleMatch.poor">0</span>
                                            </span> -->
                                        </dd>
                                    </dl>
                                    <br class="clear">
                                    <dl class="btm_dl">
                                        <!-- 赔率信息 -->
                                <span class="vs_sf" ng-if="scheduleMatch.matchOdds&&oddsFilterCookieValue!=0">
                                      <span ng-if="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == true">{{'ODDS_SEAL' | translate}}</span>
                                      <span ng-if="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == null
                                                  || scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == false"><label ng-if="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds != null" ng-bind="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds">2.05</label><em class="line" ng-if="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds != null">|</em><label ng-bind="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.mediumOdds">胜负</label><em class="line" ng-if="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds != null">|</em><label ng-if="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds != null" ng-bind="scheduleMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds">1.8</label>
                                      </span>
                                 </span>
                                        <!-- 其他内容 -->
                                        <dd class="wid_40 align_l m_midd">
                                            <div class="team_box">
                                                <div class="team_pic">
                                                    <img ng-src="{{scheduleMatch.guestteamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index<=viewNum">
                                                    <img src="@@IMGURL/ba_teamLogo.png" data-echo="{{scheduleMatch.guestteamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index>viewNum">
                                                </div>
                                                <span class="team_name" ng-bind="scheduleMatch.guestTeam"></span>
                                                <small class="team_area" ng-if="scheduleMatch.guestRanking!=''&&hostRanking">[<span ng-bind="scheduleMatch.guestRanking"></span>]</small>
                                            </div>
                                        </dd>
                                        <dd class="wid_20 align_c m_midd">
                                            <div class="vs_box v_black">
                                                <div class="vs_score">
                                                    <span class="vs_b">VS</span>
                                                </div>
                                            </div>
                                        </dd>
                                        <dd class="wid_40 align_r m_midd">
                                            <div class="team_box fr team_r">
                                                <div class="team_pic">
                                                    <img ng-src="{{scheduleMatch.hometeamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index<=viewNum">
                                                    <img src="@@IMGURL/ba_teamLogo.png" data-echo="{{scheduleMatch.hometeamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index>viewNum">
                                                </div>
                                                <span class="team_name" ng-bind="scheduleMatch.homeTeam"></span>
                                                <small class="team_area" ng-if="scheduleMatch.homeRanking!=''&&hostRanking">[<span ng-bind="scheduleMatch.homeRanking"></span>]</small>
                                            </div>
                                        </dd>
                                    </dl>
                                    <br class="clear">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="not_body" ng-if="noScheduleMatches">
                        <div class="man"></div>
                        <span ng-bind="'NO_IMMEDIATE_MATCHES' | translate"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--赛程end-->

        <!--关注 start-->
        <div class="swiper-slide">
            <div class="live_bd content-slide" id="live_bd4">
                <div class="white_bg">
                    <div ng-repeat="attentionMatch in attentionMatches">
                        <div ng-switch = "attentionMatch.dataType">
                            <!-- 日期条 -->
                            <div ng-switch-when = "0" class="toolbar" ng-click="dayTimeClick($event)" data-day="{{attentionMatch.today}}" data-text="{{attentionMatch.dayText}}">
                                <div class="t_date">
                                    <i class="icon_basket"></i>
                                    <span class="day"><span ng-bind="attentionMatch.day"></span> <label ng-bind="attentionMatch.week"></label></span>
                                    <label class="today" ng-if="attentionMatch.today">{{'TODAY'|translate}}</label>
                                    <label class="today" ng-if="attentionMatch.tomorrow">{{'TOMORROW'|translate}}</label>
                                    <label class="today" ng-if="attentionMatch.yesterday">{{'YESTERDAY'|translate}}</label>
                                </div>
                                <i class="icon_up " ng-class="{true: '', false: 'icon_down'}[attentionMatch.showIconDate]"></i>
                            </div>
                            <!-- 内容 -->
                            <div ng-switch-when = "1" thirdId="{{attentionMatch.thirdId}}" class="live_box" ng-show="{{attentionMatch.dayText}}">
                                <i class="icon_coll" ng-class="{true: 'icon_slt', false: ''}[attentionMatch.attented]" ng-click="addToAttention($event)" thirdid="{{attentionMatch.thirdId}}" isClicked="{{attentionMatch.attented}}" data-con="{{attentionMatch.dayText}}"></i>
                                <div class="live_list">
                                    <dl class="top_dl">
                                        <dd class="wid_60 align_l m_top">
                                            <font style="color:{{attentionMatch.leagueColor}}" class="t_name" leagueId="{{attentionMatch.leagueId}}" ng-bind="attentionMatch.leagueName"></font>
                                            <span class="t_time" ng-bind="attentionMatch.time"></span>
                                        <span class="t_r_time" ng-if="!attentionMatch.finish">
                                        <span ng-bind="attentionMatch.matchStateInfo"></span>
                                        <span ng-if="attentionMatch.matchStatus!='50'" ng-bind="attentionMatch.remainTime"></span>
                                        <em class="secs_g" ng-if="attentionMatch.matchStatus!='50'&&attentionMatch.remainTime"></em></span>
                                        </dd>
                                        <dd class="wid_40 align_r m_top" ng-if="attentionMatch.matchStatus!=''">
                                        <span ng-if="medalScore">
                                            {{'BA_TOTAL'|translate}}:<span ng-bind="attentionMatch.totalScore">0</span>
                                        </span>
                                        <span ng-if="totalScore">
                                            {{'BA_SPREAD'|translate}}:<span ng-bind="attentionMatch.poor">0</span>
                                        </span>

                                        </dd>
                                    </dl>
                                    <br class="clear">
                                    <dl class="btm_dl">
                                        <!-- 赔率信息 -->
                                      <span class="vs_sf" ng-if="attentionMatch.matchOdds&&oddsFilterCookieValue!=0">
                                          <span ng-if="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == true">{{'ODDS_SEAL' | translate}}</span>
                                          <span ng-if="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == null
                                                      || attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.seal == false"><label ng-if="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds" ng-bind="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds">2.05</label><em class="line" ng-if="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.leftOdds">|</em><label ng-bind="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.mediumOdds">胜负</label><em class="line" ng-if="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds">|</em><label ng-if="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds" ng-bind="attentionMatch.matchOdds[oddsFilterCookieValue].oddsObj.rightOdds">1.8</label>
                                          </span>
                                     </span>
                                        <!-- 其他内容 -->
                                        <dd class="wid_40 align_l m_midd">
                                            <div class="team_box">
                                                <div class="team_pic">
                                                    <img ng-src="{{attentionMatch.guestteamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index<=viewNum">
                                                    <img src="@@IMGURL/ba_teamLogo.png" data-echo="{{attentionMatch.guestteamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index>viewNum">
                                                </div>
                                                <span class="team_name" ng-bind="attentionMatch.guestTeam"></span>
                                                <small class="team_area" ng-if="attentionMatch.guestRanking!=''&&hostRanking">[<span ng-bind="attentionMatch.guestRanking"></span>]</small>
                                            </div>
                                        </dd>
                                        <dd class="wid_20 align_c m_midd">
                                            <div class="vs_box" ng-if="attentionMatch.matchStatus!=''" ng-class="{true:'v_red',false:''}[attentionMatch.finish]">
                                                <div class="vs_score">
                                                    <!-- <span class="vs_b" ng-bind="attentionMatch.fullScore">0:0</span> -->
                                               <span class="vs_b" data-text="{{attentionMatch.thirdId}}">
                                                <span class="flip v_l"><label data-text='vf' class="v_front" ng-bind="attentionMatch.lFullScore">130</label><label data-text='vb' class="v_back" ng-bind="attentionMatch.lBackScore">135</label></span><em class="sign">:</em><span class="flip v_r"><label data-text='vf' class="v_front" ng-bind="attentionMatch.rFullScore">140</label><label data-text='vb' class="v_back" ng-bind="attentionMatch.rBackScore">145</label></span>
                                               </span>
                                                    <small class="vs_s" ng-if="singleQuarter&&!attentionMatch.finish&&!attentionMatch.middFinish">（<span ng-bind="attentionMatch.halfScore">0:0</span>）</small>
                                                </div>
                                            </div>
                                            <div class="vs_box v_black" ng-if="attentionMatch.matchStatus==''">
                                                <div class="vs_score">
                                                    <span class="vs_b">VS</span>
                                                </div>
                                            </div>
                                        </dd>
                                        <dd class="wid_40 align_r m_midd">
                                            <div class="team_box fr team_r">
                                                <div class="team_pic">
                                                    <img ng-src="{{attentionMatch.hometeamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index<=viewNum">
                                                    <!-- @@IMGURL/ba_teamLogo.png @@1PXIMG-->
                                                    <img src="@@IMGURL/ba_teamLogo.png" data-echo="{{attentionMatch.hometeamLogo}}" onerror="logoLoadErr(this,'team')" ng-if="$index>viewNum">
                                                </div>
                                                <span class="team_name" ng-bind="attentionMatch.homeTeam"></span>
                                                <small class="team_area" ng-if="attentionMatch.homeRanking!=''&&hostRanking">[<span ng-bind="attentionMatch.homeRanking"></span>]</small>
                                            </div>
                                        </dd>
                                    </dl>
                                    <br class="clear">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="not_body" ng-if="noAttentionMatches">
                        <div class="man"></div>
                        <span ng-bind="'NO_ATTENTION_MATCHES'|translate"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--关注 end-->
    </div>
</div>

<!--弹出筛选、设置-->
<div id="sort_content">
    <!--筛选开始-->
    <div class="asort" id="asort-filter">
        <div class="hd">
            <div class="wrap tx_c">
                <a class="back" href="javascript:void(0);" ng-click="filterSetWindowClose($event,'filter')"></a>
                <span class="title">{{'FILTERING_MATCH' | translate}}</span>
                <div class="clear"></div>
            </div>
        </div>
        <div class="scr_box">
            <!--赛事筛选-->
            <div class="scr_div" id="scr_div1" ng-show="showMatchFilterDiv">
                <div class="game_box" id="game_box">
                    <!--  热门赛事 -->
                    <div class="ma_tab">
                        {{'HOT_FILTERING'|translate}}
                    </div>
                    <!-- list -->
                    <dl class="game_list">
                        <dd ng-repeat="game in hotGameList" ng-click="toggleGame($event, 'on')"
                            ng-class="{true : 'on', false : ''}[game.clicked]" name = "{{game.leagueName}}" raceid="{{game.leagueId}}">
                            <span class="t_name">{{game.leagueName}}</span><div class="normal">
                            <img ng-src="{{game.leagueLogo}}" onerror="logoLoadErr(this,'league')">
                        </div>
                            <i class="icon_coo_h"></i>
                        </dd>
                        <dd ng-if="hotGameList == null || hotGameList.length == 0" class="noData">
                            <div class="normal">
                                <p ng-bind="'NO_INIT_IMMEDIATE_MATCHES'|translate"></p>
                            </div>
                            <i class="icon_coo_h"></i>
                        </dd>
                    </dl>
                    <!--  其他赛事 -->
                    <div class="ma_tab other_fi">
                        {{'OTHER_FILTERING'|translate}}
                    </div>
                    <!-- list -->
                    <dl class="game_list">
                        <dd ng-repeat="game in otherGameList" ng-click="toggleGame($event, 'on')"
                            ng-class="{true : 'on', false : ''}[game.clicked]" name = "{{game.leagueName}}" raceid="{{game.leagueId}}" ng-if="!game.isDefHot">
                            <span class="t_name">{{game.leagueName}}</span><div class="normal">
                            <img ng-src="{{game.leagueLogo}}" onerror="logoLoadErr(this,'league')">
                        </div>
                            <i class="icon_coo_h"></i>
                        </dd>
                        <dd ng-if="otherGameList == null || otherGameList.length == 0" class="noData">
                            <div class="normal">
                                <p ng-bind="'NO_INIT_IMMEDIATE_MATCHES'|translate"></p>
                            </div>
                            <i class="icon_coo_h"></i>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                    <div style="height:1.1rem;"></div>
                </div>
                <!-- choose -->
                <div class="basket_cho">
                    <p class="lab_cho">
                        <span ng-click="checkHotGame()">{{'HOT_MATCH' | translate}}</span>
                        <span ng-click="checkAllGame()">{{'SELECT_ALL_MATCH' | translate}}</span>
                        <span ng-click="reverseCheckGame()">{{'DESEELCT_MATCH' | translate}}</span>
                        <span ng-click="initGameFilter()">{{'RESET_MATCH' | translate}}</span>
                    </p>
                    <button class="btn_sure" ng-click="checkGameSubmit($event)">{{'BUTTON_SUBMIT' | translate}}</button>
                </div>
            </div>
            <!--赛事筛选结束-->
        </div>
    </div>
    <!--筛选结束-->
    <!--设置开始-->
    <div class="asort" id="asort-set">
        <div class="hd">
            <div class="wrap tx_c">
                <a class="back" href="javascript:void(0);" ng-click="filterSetWindowClose($event,'set')"></a>
                <span class="title">{{'SETTING' | translate}}</span>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 内容 -->
        <div class="set_box" id="set_box">
            <!-- 赔率提示 -->
            <div class="pl_box">
                <h2 class="set_h2">
                    {{'ODDS_SHOW' | translate}}
                </h2>

                <div class="radio_box">
                    <form>
                        <ul id="radio_box4">
                            <li ng-repeat="baOddsFilterValue in baOddsFilterValues" ng-click="oddsFilterClick($event)">
                                <input type="radio" name="oddsFilter" value="{{baOddsFilterValue.value}}" ng-checked="baOddsFilterValue.checked"/>
                                <label ng-class="{true: 'checked', false: ''}[baOddsFilterValue.checked]" class="fi_name">
                                    <i class="icon_radio"></i>{{baOddsFilterValue.name}}
                                </label>
                            </li>
                        </ul>
                    </form>
                    <div class="clear"></div>
                </div>
                <div class=" clear"></div>
            </div>
            <!-- 赛事提示 -->
            <div class="pl_box s_hint">
                <h2 class="set_h2">
                    {{'FILTERING_SHOW' | translate}}
                </h2>
                <div class="radio_box">
                    <form>
                        <ul id="set_box">
                            <li ng-repeat="matchFilterValue in matchFilterValues">
                                <label class="fi_name">{{matchFilterValue.html}}</label>
                                <div class="checkbox">
                                    <input type="checkbox" name="{{matchFilterValue.name}}" ng-checked="matchFilterValue.clicked" ng-click="matchFilterClick($event)" data-num="che{{$index}}"/>
                                    <label></label>
                                </div>
                            </li>
                        </ul>
                    </form>

                    <div class="clear"></div>
                </div>
                <div class=" clear"></div>
            </div>
            <!-- 底部按钮 -->
            <div class="scr_foot">
                <button class="btn_qx" ng-click="setCancelClick($event)">{{'BUTTON_CANCEL' | translate}}</button>
                <button class="btn_qd" ng-click="setSubmit($event)">{{'BUTTON_SUBMIT' | translate}}</button>
            </div>
            <div class=" clear"></div>
        </div>
    </div>
    <!--设置结束-->
</div>
