.ct2 .sd{display:block;width:385px;margin:0;padding:0;float:right;}
.ct2 .mn{width: 833px;margin:0;padding:15px 0 0 0;float:left;}
.mn .bm{width:823px;border:none;margin-bottom:0}
.mn .esh-btns{text-align:right;}
.mn .bm_h{border-left:1px solid #cfcfcf;border-top:none}
.vw .ph{font-size:25px;font-weight:normal;color:#0066c7}
.xg1, .xg1 a{font-size:12px}


.esh-view .mn{background:url(../esh_article-bg_r1.png) no-repeat 0 0;}
.esh-view .mn .bm{background:url(../esh_article-bg_r2.png) repeat-y 0 0;}
.esh-view .mn .esh-view-bottom{width:823px;background:url(../esh_article-bg_r3.png) no-repeat 0 0;height:20px;line-height:20px;font-size:1px}

.hot-article{border:1px solid #cfcfcf;margin:30px 0 0 0;padding:0 15px 10px}
	.hot-article h3{background:url(../esh-hotarticleline.png) repeat-x 0 bottom;height:60px;line-height:60px;color:#1760cb;font-size:20px;text-indent:5px}
	.hot-article .block .xl1 ul{list-style:none;background:url(../esh-hotarticle-ranknum.png) no-repeat 0 0}
	.hot-article .block .xl1 ul li{height:36px;line-height:36px;margin:0;padding:0;border:none;font-size:14px;list-style:none;text-indent:24px;overflow:hidden;background:none;white-space:nowrap;text-overflow:ellipsis;}
	.hot-article .block .xl1 ul li a{color:#666}

.esh-list{margin:0;padding:0;border:none}
.esh-list-header{background:url(../esh_article-bg_r1.png) no-repeat 0 0;height:15px;line-height:15px;font-size:1px;}
.esh-list-body{background:url(../esh_article-bg_r2.png) repeat-y 0 0;padding:0 10px}
.esh-list-footer{width:823px;background:url(../esh_article-bg_r3.png) no-repeat 0 0;height:20px;line-height:20px;font-size:1px;margin-bottom:10px}
.esh-list .bbda{border:none}
.esh-cover{float:left;width:240px;height:180px;}
	.esh-cover a{display:block;width:229px;height:172px;background:url(../esh-none.png) no-repeat 0 0}
	.esh-cover img{border:none;width:229px;height:172px;}
.esh-content{margin-left:245px;}
	.esh-content h4, .esh-content h4 a{font-size:22px;color:#343535;height:42px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
	.esh-tools{font-size:14px;height:30px;line-height:30px;vertical-align:bottom}
	.esh-summary{height:100px;overflow:hidden;font-size:15px;line-height:200%;color:#565656;text-indent:30px}

.esh_title{background:none;border:none!important}

