.wp{width: 1218px;}
.ct2 .mn{width:100%}
.ct2 .sd {
    margin-right: -235px;
}
#hd{background:#fff}
#hd h2{padding: 20px 20px 5px 30px}
.esh-homepage{background: #032b37;width: 100%;}
	.esh-homepage .wp{background:#fff}
	.esh-homepage .esh-footer .wp{background: #04141f}
	.esh-homepage .esh-footer{background: #04141f}
	.esh-homepage #ft{border: none;padding-top: 40px}
	.esh-homepage #ft
		, .esh-homepage #ft a{color: #a0a0a0 !important;font-size: 14px !important;}

.area .frame, .area .frame-tab, .area .block{background:none;margin:0;padding:0;border:none}

#nv{min-width: 889px;height: 51px;background: url(../header_nav_bg.png) no-repeat;border: none;}
	#nv ul{margin-left:10px}
	#nv li{height: 47px;line-height: 47px;background: url(../header_nav_btn_bg.png) no-repeat 0 10px;width: 92px;padding: 4px 6px 0 5px;margin: 0}
		#nv li a{margin: 0;text-align: center;display:block;width: 92px;padding: 0;color: #686868;font-weight: normal;font-size: 16px;text-decoration: none}
		#nv li.a{margin-left:0;background: url(../header_nav_btn_bg.png) no-repeat 0 -50px;font-weight:normal;color: #fff}
		#nv li a:hover{color: #13a0eb}
		#nv li.a_nav_first{margin-left:0;background: url(../header_nav_btn_bg.png) no-repeat 0 -110px;font-weight:normal;color:#fff;}
		#nv li._nav_first{margin-left:0;background: url(../header_nav_btn_bg.png) no-repeat 0 -170px;font-weight:normal;color: #686868;}

		#nv li.hover a:hover,#nv li.hover a, #nv li a:hover{background: none;}
		#nv li.hover a,#nv li.hover a, #nv li.a, #nv li.a a:hover,#nv li.a_nav_first a{color: #fff}
	
	#nv .nav_search{background: url(../header_nav_search.png) no-repeat 0 0;width:200px;height:28px;margin-top:13px;float:right;margin-right:10px}
		.nav_search input.search_txt, .nav_search #scbar_txt{float:left;border:none;margin:2px;width:150px;height:22px;line-height:22px;padding-left:5px;padding-right:5px;}
		.nav_search button{float:right;width:30px;height:26px;margin:1px;border:none;outline:none;cursor:pointer;background:none}
			.nav_search button span{display:none}

.title-link{float:right;min-width:200px;}
	.title-link span{display:block;cursor:pointer;text-decoration:none;text-align:center;color:#686868;margin:0;padding-left:20px;float:left;width:83px;height:25px;background:url(../title-bg.png) no-repeat 0 -20px;}
	.title-link span.current
		,.title-link span:hover{color:#fff;background:url(../title-bg.png) no-repeat 0 -80px;}
	.title-link span.first{background-position-x: -12px;width:71px;padding-left:10px;}

.esh-row-1{padding:0;height:660px;}
	.mod_focus_show { width: 1218px; height: 660px; position: relative; overflow: hidden; margin: 0 auto; background:#000}
    .mod_focus_show .mod_focus_pic { display: block; width: 1218px; height: 530px; }
        .mod_focus_show .mod_focus_pic li
			, .mod_focus_show .mod_focus_pic a
			, .mod_focus_show .mod_focus_pic img { display: block; width: 1218px; height: 530px; background:#000}
        .mod_focus_show .mod_focus_pic li { position: absolute; left: 0; top: 0; }
    .mod_focus_show .mod_focus_title {display:none;position: absolute; z-index: 1; left: 0; bottom: 80px; overflow: hidden; zoom: 1; width: 1218px; height: 53px; background-color: rgba(0,0,0,.8); filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CC000000',endColorstr='#CC000000'); background-image: url(about:blank); }
		.mod_focus_show .mod_focus_title li { width: 590px; padding: 0 0 0 20px; overflow: hidden; word-break: keep-all; word-wrap: keep-all; white-space: nowrap; table-layout: fixed; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
			.mod_focus_show .mod_focus_title li h3 { line-height: 53px; _line-height: 55px; font-size: 28px; font-family: "Microsoft Yahei",Tahoma,Geneva; font-weight: 500; }
				.mod_focus_show .mod_focus_title li h3 a { color: #98e404; }

.focus_switch { width: 59px; height: 29px; position: absolute; z-index: 2; right: 15px; bottom: 132px; display:none}
    .focus_switch a { float: left; width: 29px; height: 29px; background-image: url(../esh_focus_switch.png); background-repeat: no-repeat; cursor: pointer; }
    .focus_switch .icon_prev { background-position: 0 0; margin: 0 1px 0 0; }
        .focus_switch .icon_prev:hover { background-position: -30px 0; }
    .focus_switch .icon_next { background-position: -60px 0; }
        .focus_switch .icon_next:hover { background-position: -90px 0; }
.mod_focus_show .mod_focus_list { padding: 13px; background: #000; overflow: hidden; height: 103px; }
    .mod_focus_show .mod_focus_list li { width: 141px; height: 103px; float: left; margin: 0 5px 0 3px; position: relative; *display: inline; }
        .mod_focus_show .mod_focus_list li a { display: block; width: 141px; height: 103px; }
        .mod_focus_show .mod_focus_list li img { display: block; width: 141px; height: 103px; border:none}
        .mod_focus_show .mod_focus_list li a:hover { _background: none; }
            .mod_focus_show .mod_focus_list li a:hover .mask, .mod_focus_show .mod_focus_list .current .mask { display: none; }
        .mod_focus_show .mod_focus_list li .mask { display: block; height: 103px; width: 141px; position: relative; top: -103px; margin: 0 0 -60px; eft: 0; bottom: 0; background: #000; opacity: .5; filter: alpha(opacity=50); }
        .mod_focus_show .mod_focus_list li .border { display: none; }
    .mod_focus_show .mod_focus_list .current .border { display: block; height: 5px; width: 141px; font-size: 0; overflow: hidden; position: absolute; left: 0; bottom: 0; background: #98e404; }

.esh-row2{padding:30px 40px 10px;}
	.esh-row2-col1{float:left;width:467px;height:343px;}
	.esh-row2-col2{float:left;width:374px;height:343px;margin-left:27px}
	.esh-row2-col3{float:left;width:232px;height:343px;margin-left:27px;}
		.esh-row2-col1 h2{height:71px;background: url(../esh-row2-col1.png) no-repeat 0 0;}
			.esh-row2-col1 h2 a{display:block;width:100%;height:34px;}
				.esh-row2-col1 h2 a strong{display:none}
		.esh-row2-col1 .box{height:272px;}
			.esh-row2-col1 .box a{display:block;margin:0;padding:15px 10px 15px 15px;width:442px;height:106px;background:#f6f6f5;color:#686868;text-decoration:none}
				.esh-row2-col1 .box a img{display:block;border:none;width:142px;height:106px;overflow:hidden;float:left;}
				.esh-row2-col1 .box a span{display:block;float:left;margin-left:10px;width:290px;height:106px}
				.esh-row2-col1 .box a strong,.esh-row2-col1 .box a em,.esh-row2-col1 .box a i,.esh-row2-col1 .box a b{display:block;font-size:12px;font-style:normal;font-weight:normal;overflow:hidden;text-overflow:ellipsis}
					.esh-row2-col1 .box a strong{font-size:14px;height:24px}
					.esh-row2-col1 .box a em{font-size:12px;height:20px;}
					.esh-row2-col1 .box a i{float:right;width:72px;height:20px;background:url(../esh-join-btn.png) no-repeat 0 -51px;}
						.esh-row2-col1 .box a i b{display:none}
					.esh-row2-col1 .box a:hover i{background-position:0 0}
					
			.esh-row2-col1 .box a:hover{background:#fff0dc;}

		.esh-row2-col2 h2{height:71px;background: url(../esh-row2-col2.png) no-repeat 0 0;}
			.esh-row2-col2 h2 a{display:block;width:100%;height:34px;}
				.esh-row2-col2 h2 a strong{display:none}
		.esh-row2-col2 .box{height:272px;}
			.esh-row2-col2 .box ul li{list-style:none;margin:0;padding:2px 0;}
				.esh-row2-col2 .box a{display:block;color:#686868;font-size:13px;text-decoration:none}
					.esh-row2-col2 .box a:hover{color:#fa8000}
					.esh-row2-col2 .box a em{color: #d0d0d0;font-size:12px;float:right}
						
		.esh-row2-col3{background:url(../esh-row2-col3.png) no-repeat 0 0;}
			.esh-row2-col3 .box{padding:74px 10px 10px 12px;}
				.esh-row2-col3 .box ul li{list-style:none;margin:0;padding:6px 0;float:left;width:104px;height:40px}
					.esh-row2-col3 .box ul li a{text-decoration:none;display:block;width:104px;height:40px;text-align:center}
						.esh-row2-col3 .box li a img{width:100px;height:38px;border:none}
						.esh-row2-col3 .box li *{margin:0;padding:0;border:none}
.esh-row3{padding:10px 40px;}

.esh-row4{padding:30px 40px 10px;background:#f7f7f6}
	.esh-row4 .frame, .esh-row4 .frame-tab{background:none}
	.esh-row4-title{height:71px;background:url(../esh-row4-title.png) no-repeat 0 0;}
		

		.esh-row4-box dt, .esh-row4-box dd{float:left;}
		.esh-row4-box div{margin:0;padding:0;border:none}
		.esh-row4-box dt{width:300px;height:400px;margin:0;padding:0;}
		.esh-row4-box dd{width:192px;height:192px;margin:0 0 15px 15px;padding:0;}
		.esh-row4-box dd a{display:block;width:190px;height:190px;overflow:hidden;line-height:190px;border:1px solid #ddd;vertical-align:middle;}
		.esh-row4-box dt img{border:none;width:300px;height:400px;}
		.esh-row4-box dd img{border:none;width:192px;vertical-align:middle;line-height:192px;display:inline}

.esh-row5{padding: 10px 40px;}
.esh-row5-col1{float:left;width:890px}
	.esh-row5-col1-r1{height:321px;}
		.esh-row5-col1-r1-c1{float:left;width:420px;}
			.esh-row5-col1-r1-c1-title{height:71px;background:url(../esh-row5-col1-r1-c1-title.png) no-repeat 0 20px;}
				.esh-row5-col1-r1-c1-title a{display:block;height:37px;padding-top:10px}
					.esh-row5-col1-r1-c1-title a strong{display:none}
			.esh-row5-col1-r1-c1-box{}
				.esh-row5-col1-r1-c1-box div{margin:0;padding:0;border:none}
				.esh-row5-col1-r1-c1-box ul li{list-style:none;margin:0;padding:3px 0;}
					.esh-row5-col1-r1-c1-box li a{font-size:13px;color:#686868;text-decoration:none}
						.esh-row5-col1-r1-c1-box li a:hover{color:#fa8000}
						.esh-row5-col1-r1-c1-box li img{display:none}
						.esh-row5-col1-r1-c1-box li i{display:none}
						.esh-row5-col1-r1-c1-box li em{display:none}
						.esh-row5-col1-r1-c1-box li strong{font-weight:normal}
		.esh-row5-col1-r1-c2{float:left;width:427px;margin-left:43px;}
			.esh-row5-col1-r1-c2-title{height:71px;background:url(../esh-row5-col1-r1-c2-title.png) no-repeat 0 20px;}
				.esh-row5-col1-r1-c2-title .title-link{margin-top:20px}
			.esh-row5-col1-r1-c2-box{height:250px;width:416px;background:url(../esh-row5-col1-r1-c2-box.png) no-repeat 5px 0;padding-left:5px;}
				.esh-row5-col1-r1-c2-l{float:left;width:160px;margin-left:23px;height:250px}
				.esh-row5-col1-r1-c2-r{float:right;width:160px;margin-right:10px;height:250px}
				.esh-row5-col1-r1-c2-box .frame, .esh-row5-col1-r1-c2-box .frame-tab{margin:0;padding:0;border:none}
				.esh-row5-col1-r1-c2-box li{margin:0;padding:7px 0 0 0;list-style:none;height:42px;}
					.esh-row5-col1-r1-c2-box img{border:none;width:32px;height:32px;float:left;}
					.esh-row5-col1-r1-c2-box span{display:block;margin-left:38px}
						.esh-row5-col1-r1-c2-box strong{font-weight:normal;display:block;font-size:13px;height:18px;line-height:18px;overflow:hidden;color:#00769c}
						.esh-row5-col1-r1-c2-box em{display:block;font-size:11px;height:14px;line-height:14px;overflow:hidden;color:#828282}
						.esh-row5-col1-r1-c2-box i{font-style:none;font-weight:normal;margin-left:5px;color:#e78701}
						
	.esh-row5-col1-r2{height:95px;width:873px;padding-top:20px}
		.esh-adv{width:873px;height:95px;overflow:hidden;}
.esh-row5-col2{float:right;width:227px;}

.esh-row6{background:url(../esh-row6.png) repeat-x 0 0;height:243px;padding:43px 43px 0 43px}
	.esh-row6-title{background:url(../esh-row6-title.png) no-repeat 0 0;height:70px;}
	.event-list-box{height:150px;position:absolute;padding-left:25px;padding-right:25px;overflow:hidden}
	.event-list{margin:0;padding:0;list-style:none;height:150px;width:1082px;}
		.event-list li{margin:0;padding:0;width:270px;height:150px;float:left;text-align:center;}
			.event-block{width:250px;height:150px;margin:0 auto;text-align:center}
			.event-block img{border:none;width:230px;height:104px;display:block;margin-bottom:12px;margin-left:auto;margin-right:auto;text-align:center}
			.event-block .title{height:41px;font-weight:normal;text-align:center;display:block}
				.event-block .title .str{display:block;height:41px;line-height:20px;overflow:hidden;text-overflow:ellipsis;text-align:left;font-size:12px;}
				.event-block .title .status{display:none;float:right;width:49px;height:18px;line-height:18px;background:url(../esh-event.png) no-repeat 0 -96px;color:#fff;font-weight:bold;font-size:12px;}
	.bx_container{margin-left:1px;}
	.bx_wrap .next
		,.bx_wrap .prev{display:block;width:23px;height:150px;cursor:pointer;text-indent:-999em;background-image:url(../esh-btn-pager.png);background-repeat:no-repeat;}
		.bx_wrap .next{background-position:0 63px;position:absolute;top:0;left:0;z-index:100;}
		.bx_wrap .prev{background-position:-50px 63px;position:absolute;top:0;left:1105px;z-index:100;}

.esh-row7{background:#00a2ec url(../esh-row7.png) no-repeat 1050px 50px;height:140px;}
	.esh-flinks ul{margin:0 auto;padding:60px 0 0 30px;}
	.esh-flinks li{list-style:none;margin:0;padding:0 15px;float:left;font-size:17px;color:#fff;background:url(../esh-vline.png) no-repeat 0 6px}
	.esh-flinks li.first{background:none}
	.esh-flinks a{color:#fff}

.esh-pc{display:block}
.esh-mobile{display: none}